body {
    align-content: center;
}

/* Game */
#game {
    /* Variables */
    --sq-size: 30px;
    --sq-border: 1px;
    
    --player-size: 18px;

    --nav-height: 30px;
    --nav-padding: 10px;
    --nav-space: 20px;

    display: flex;
    flex-direction: column;
}

#game * {
    font-family: "Pixel";
}

/** Game navbar */
#game > nav {
    height: var(--nav-height);
    width: calc(100% - 24px);

    padding: var(--nav-padding);
    margin-bottom: var(--nav-space);
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    
    position: fixed;

    font-size: large;
    color: whitesmoke;
}

/** Nav button */
#game > nav > button {
    box-shadow: 3px 3px black;

    border: none;
    border-radius: 8px;
    outline: none;

    font-size: large;

    place-content: center;

    padding: 5px 10px;
    margin-right: 30px;

    background-color: white;
}

#game > nav > button:active {
    box-shadow: 1px 1px black;
}

/** Game row */
.rw {
    display: flex;

    width: fit-content;
}

.rw[index="0"] {
    margin-top: calc(var(--nav-height) + var(--nav-padding) * 2 + var(--nav-space));
}

/**** Player */
#game #player {
    background-color: yellow;

    width: var(--player-size);
    height: var(--player-size);
}